body{
    background-color:
    yellow;
}


.wrapper{
    width: 70%;
    margin: auto;
    text-align: center;
}

h1{
    margin: 20px;
    font-size: 2rem;
    color: black;
}

.dice-area{
    color: blue;
    margin: 0px 50px;
    text-align: center;
    display: inline-block;
}

p{
    color: black;
}

img{
    width: 100px;
}

button{
    background-color: grey;
    border: none;
    outline: none;
    color: black;
    padding: 15px;
    width: 150;
    letter-spacing: 1px;
    border-radius: 5px;

    
}

.shake{
    animation: shake 0.5s infinite; 
}

@keyframes shake{
    0%{
        transform: rotate(8deg);
    }
    50%{
        transform: rotate(-8deg);
    }
    100%{
        transform: rotate(8deg);
    }
}

.nevy{
    background-color: white;
    border: none;
    outline: none;
    color: black;
    padding: 15px;
    width: 150;
    letter-spacing: 1px;
    border-radius: 5px;

}